# Node.js dependencies (Frontend)
app/frontend/node_modules/
app/frontend/dist/
app/frontend/.vite/
app/frontend/.output/
app/frontend/.nuxt/
app/frontend/.env.local
app/frontend/.DS_Store

# PHP dependencies (Backend)
app/backend/vendor/
app/backend/config/env.php
app/backend/.DS_Store

# Composer files
app/backend/composer.lock

# Logs & Cache
app/backend/storage/
app/backend/bootstrap/cache/
*.log

# IDE/editor files
.vscode/
.idea/
*.swp
*.swo

# OS files
Thumbs.db
.DS_Store